body {
  font-family: 'Indie Flower', cursive;
  font-size: 20pt;
  background-color: #3a6;
  z-index: -1;
}
#title {
  margin: 20px;
  text-align: center;
}
#chalkboard {
  width: 500px;
  height: 500px;
  margin: auto;
  background-color: #163;
  position: relative;
}
#grid {
  width: 100%;
  height: 100%;
  position: absolute;
  top, left: 0;
}